<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ title }}</title>
        <link rel="stylesheet" href="/assets/main.css">
    </head>
    <body>
        <header>
            <h1>{{ title }}</h1>
        </header>
        <main>
            {{ content | safe }}
        </main>
        <footer class="footer">
            <p>&copy; 2024 Yeldar Kudaibergenov &#x2022; <a href="https://yeldar.org/feed.xml">RSS</a></p>    
        </footer>

    </body>
</html>