<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{{ metadata.blog_title }} – {{ metadata.title }}</title>
        <link rel="stylesheet" href="/assets/main.css">
        <link rel="icon" href="/assets/img/favicon.ico" type="image/x-icon">
    </head>
    <body>
        <header>
            <h1>{{ metadata.blog_title }}</h1>
            <p class="site-description">{{ metadata.blog_description }}</p>
        </header>
        <main>
            {{ content | safe }}
        </main>
        <footer class="footer">
            <p><a href="/">Басты бет</a> <a href="https://yeldar.org/feed.xml">RSS</a></p>
        </footer>
    </body>
</html>
