<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{{ title }} - {{ metadata.author.name }}</title>
    <link rel="stylesheet" href="/assets/main.css" />
    <link rel="stylesheet" href="/assets/likely.min.css">
  </head>
  <body>
    <header class="post-header">
      <h1 class="post-title">{{ title }}</h1>
      <div class="post-info">
        <p>{{ metadata.author.name }} &#x2022; {{ date | postDate }}</p>
      </div>
    </header>
    
    <main>{{ content | safe }}</main>


<div class="shareDiv">
    <div id="toggleDiv">▶ Постты тарату</div>

    <div id="toggleText" style="display: none;">
        <div class="likely">
            <div class="facebook">Share</div>
            <div class="twitter">Tweet</div>
            <div class="whatsapp">Send</div>
            <div class="telegram">Send</div>
            <div class="linkedin">Share</div>
      </div>
    </div>
</div>

    <script>
    document.addEventListener('DOMContentLoaded', function () {
    const toggleDiv = document.getElementById('toggleDiv');
    const toggleText = document.getElementById('toggleText');

    toggleDiv.addEventListener('click', function () {
        toggleDiv.style.display = 'none';
        toggleText.style.display = 'flex';
    });
});

    
    </script>

    <footer class="footer">
      <p><a href="{{ metadata.url }}">Басты бет</a> <a href="https://yeldar.org/feed.xml">RSS</a></p>
    </footer>
    <script src="/assets/likely.min.js" type="text/javascript"></script>
  </body>
</html>
