---
layout: base.njk
title: "Басты бет"
eleventyNavigation:
    key: "Басты бет"
    order: 1
---

<!-- <p>
  Сәлем! Менің есімім Елдар Құдайбергенов. Бұл менің жеке сайтым. Қош
  келдіңіздер!
</p>
<p>
  Мен подкастермін, қазіргі таңда бағдарламалауды меңгеріп жүрмін. Подкастиңдегі
  жұмыстарыммен қатар кішігірім жобаларды іске асырып жүрмін.
</p> -->

<section class="blog">
  <h2 class="section-name">Блог</h2>
  <p class="section-description">Блогтағы соңғы 10 пост:</p>

  {% assign total_posts = collections.blog | size %} {% assign remaining_posts =
  total_posts | minus: 10 %} {% for post in collections.blog limit:10 | reverse %}

  <div class="post">
        <p><span class="post-date">{{ post.data.date | postDate }}</span> <a href="{{ post.url }}" class="post-title">{{ post.data.title }}</a></p>
  </div>
  {% endfor %} {% if remaining_posts > 0 %}
  <p>
    Қалған {{ remaining_posts }} пост
    <a href="/blog">блог бетінде</a> жиналған.
  </p>
  {% endif %}
</section>
